Invitation to join {{ organizationName }} on Software Citadel

Click here to join {{ organizationName }} on Software Citadel.

If you don't have a Software Citadel account, you can create one for free.

Software Citadel https://softwarecitadel.com, the open-source cloud platform.
